<div class="patient-container">
    
    <div class="left-form">
      <mat-card>
        <mat-card-title>Patient Form</mat-card-title>
        <mat-card-content>
          <form>
             
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Patient Name</mat-label>
              <input matInput />
            </mat-form-field>
  
            <!-- Contact No. -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Contact No.</mat-label>
              <input matInput />
            </mat-form-field>
  
            <!-- Date of birth -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Date of Birth</mat-label>
              <input matInput type="date" />
            </mat-form-field>
  
            <!-- Last Visit -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Last Visit</mat-label>
              <input matInput type="date" />
            </mat-form-field>
  
            <!-- Next Visit -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Next Visit</mat-label>
              <input matInput type="date" />
            </mat-form-field>
  
            <!-- Password -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Password</mat-label>
              <input matInput type="password" />
            </mat-form-field>
  
            <!-- Delete Toggle -->
            <mat-slide-toggle>Delete</mat-slide-toggle>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  
    <!-- Right side: Recommendation -->
    <div class="right-recommendation">
        <app-recomendation></app-recomendation>
    </div>
  </div>
  